@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,500&family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fafafa;
}

.main-nav {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  align-items: start;
  padding-top: 20px;
  width: 80vw;
  margin-bottom: 20px;
  transition: all 0.7s ease;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  align-items: start;
  flex-wrap: wrap;
  padding-top: 10px;
  transition: all 0.7s ease;

}
.nav-menu > a {
  text-decoration: none;
  font-family: Rubik;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: grey;
  font-size: 20px;
  width: 100px;
  padding: 0;
}

.nav-menu > a:hover {
  color: #ff5153;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 700;
}

.nav-icons {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.7s ease;
  
}
.nav-icons>div>img:hover{
  box-shadow: -4px -1px 112px 7px rgba(255,255,255,0.75);
  -webkit-box-shadow: -4px -1px 112px 7px rgba(255,255,255,0.75);
  -moz-box-shadow: -4px -1px 112px 7px rgba(255,255,255,0.75);
transform: scale(1.2);
transition: all 0.5s ease;

}

.hero-section {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 90vw;
  margin-inline: auto;
  cursor: pointer;
}
.hero-poster > img {
  width: 100%;
}
.collection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease;

}
.collection-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collection-head > p {
  margin: 0;
}

.collection-head > h4 {
  margin-top: 20px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}

.collection-nav {
  display: flex;
  justify-content: center;
  align-self: center;

}

.collection-button {
  border-radius: 15px;
  background: none;
  border: none;
  background-color: white;
  width: 130px;
  height: 60px;
  margin: 10px;
  box-shadow: 0px 8px 10px 0px #0000000d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  transition: all 0.7s ease;

  color: #4f5665;
}

.collection-nav > button:focus {
  background-image: linear-gradient(
    180deg,
    rgba(255, 81, 81, 0.5) 0%,
    #ff5e3a 100%
  );
  color: white;
  box-shadow: 0px 13px 78px 2px rgba(255, 99, 72, 0.75);
  -webkit-box-shadow: 0px 13px 78px 2px rgba(255, 99, 72, 0.75);
  -moz-box-shadow: 0px 13px 78px 2px rgba(255, 99, 72, 0.75);
}

.collection-product-card {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  margin-top: 100px;
  transition: all 0.7s ease;
  flex-wrap:wrap;

}

.product-card {
  width: 380px;
  height: 429.1620788574219px;
  margin: 10px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.bg-oran {
  background-image: linear-gradient(
    180deg,
    rgba(252, 203, 144, 0.44) 0%,
    rgba(255, 154, 158, 0.38) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-radius: 20px 20px 0 0;
  height: 350px;
  transition: all 0.5s ease;
}
.like-wishlist {
  width: 45px;
  height: 45px;
  background-color: #ff5e3a;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  transition: all 0.4s ease;

}
.like-wishlist:hover{
  transform: scale(1.2);
  box-shadow: -4px -1px 143px -25px rgba(255,255,255,0.75);
  -webkit-box-shadow: -4px -1px 143px -25px rgba(255,255,255,0.75);
  -moz-box-shadow: -4px -1px 143px -25px rgba(255,255,255,0.75);

}


.product-card:hover .like-wishlist{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;

}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 10px 50px 5px #00000005;
  border-radius: 20px;
  height: 115px;
  transition: all 0.7s ease;


}

.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-button {
  background-color: #ff5e3a;
  border: none;
  width: 80px;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
  padding: 3px;
}
.new-arrivals {
  margin-bottom: 100px;
  padding-top: 50px;

}

.posters {
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 100px;
  flex-wrap: wrap;
  transition: all 0.7s ease;

}
.poster-3 > img {
  height: 530px;
}
.poster-1,
.poster-2,
.poster-3 {
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.poster-content > h4 {
  position: absolute;
  bottom: 10px;
  padding-left: 50px;
  width: 400px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  line-height: 30px;
  color: white;
}

.poster-content-3 {
  position: absolute;
  bottom: 0px;
  padding-left: 50px;
  width: 400px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  line-height: 30px;
  color: white;
  height: 160px;
}

.discover-more {
  padding-top: 50px;
}

.categories {
  margin-bottom: 100px;
  transition: all 0.5s ease-in;
}

.categories-product-card {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 50px;
  transition: all 2s ease;

}

.bg-black {
  background-image: linear-gradient(
      0deg,
      rgba(144, 144, 144, 0.25),
      rgba(144, 144, 144, 0.25)
    ),
    linear-gradient(0deg, #f0f0f0, #f0f0f0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-radius: 20px 20px 0 0;
  height: 297px;
}

.product-card-arrivals {
  width: 380px;
  height: 429px;
  margin: 10px;
  margin-bottom: 20px;
  cursor: pointer;
transition: all 0.8s ease-in;
  height: 4;
}
.product-card-arrivals:hover .bg-black {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(252, 203, 144, 0.44) 0%,
    rgba(255, 154, 158, 0.38) 100%
  );
  transition: all 0.5s ease-in;

}

.product-title-hidden-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;

  
}
.product-title-collection
{
  width: 80%;
}

.product-title-hidden-cart > div > button {
  width: 86px;
  height: 31px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  background-color: #ff5e3a;
  border: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  box-sizing: border-box;
  display: none;

}
.product-card-arrivals:hover .hidden-cart >button{
  display: block;
}
.product-title-hidden-cart > div > button:hover{
  transform: scale(1.1);
}
.price-button-black {
  background-color: transparent;
  border: none;
  width: 80px;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: grey;
  padding: 3px;
  transition: all 0.8s ease-in;

}

footer {
  width: 100%;
  background-color: #fcf3ec;
  height: 500px;

}

.footer-container {
  padding: 100px 100px;
  display: flex;
  justify-content: space-around;
}

.footer-col-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
}
.footer-col-1-content {
  margin-top: 20px;
  color: 4e5664;
}

.social-media-logo {
  display: flex;
  align-items: center;
}

.social-media-logo > div {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 96, 69);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.copyright {
  margin-top: 15px;
}

.copyright > p {
  color: #ff5e3a;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

td,
th {
  width: 200px;
}
td {
  color: 4e5664;
  height: 50px;
  cursor: pointer;
}
td > div {
  margin: 0;
}

.contact-us {
  height: 50px;
}





/* Media Queries */


@media only screen and (max-width:600px){
  .main-nav{
    display: flex;
    width: 100%;
    margin-inline:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .nav-menu>a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

   }
   .collection-nav{
    display: flex;
    flex-wrap: wrap;
   }
   .product-card{
    width: 100%;
    margin-bottom: 30px;
   }
html{
  width: 100%;
}
   .footer-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 300px;
    width: 100%;
    align-items: center;
   }
   footer{
    height: 300px;
   }

   table{
    display: none;
   }

  
   
   .posters{
    width: 100vw;
   }
   .poster-1>img{
    width: 100%;
   }
   .poster-2>img{
    width: 100%;
    
   }
   .poster-3>img{
    width: 100%;
   }
   
   
   
}