@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,500&family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fafafa;
}

.main-nav {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  align-items: start;
  padding-top: 20px;
  width: 80vw;
  margin-bottom: 20px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  align-items: start;
  padding-top: 10px;
}

.nav-menu > p {
  padding: 0 0 10px 10px;
}
.nav-menu > p:first-child {
  color: #ff5153;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 90vw;
  margin-inline: auto;
}
.collection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collection-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collection-head > p {
  margin: 0;
}

.collection-head > h4 {
  margin-top: 20px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}

.collection-nav {
  display: flex;
  justify-content: center;
  align-self: center;
}

.collection-button {
  border-radius: 15px;
  background: none;
  border: none;
  background-color: white;
  width: 130px;
  height: 60px;
  margin: 10px;
  box-shadow: 0px 8px 10px 0px #0000000d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  color: #4f5665;
}

.collection-nav > button:focus {
  background-image: linear-gradient(
    180deg,
    rgba(255, 81, 81, 0.5) 0%,
    #ff5e3a 100%
  );
  color: white;
  box-shadow: 0px 13px 78px 2px rgba(255, 99, 72, 0.75);
  -webkit-box-shadow: 0px 13px 78px 2px rgba(255, 99, 72, 0.75);
  -moz-box-shadow: 0px 13px 78px 2px rgba(255, 99, 72, 0.75);
}

.collection-product-card {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  margin-top: 100px;
}

.product-card {
  width: 380px;
  height: 429.1620788574219px;
  margin: 10px;
  margin-bottom: 20px;
}

.bg-oran {
  background-image: linear-gradient(
    180deg,
    rgba(252, 203, 144, 0.44) 0%,
    rgba(255, 154, 158, 0.38) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-radius: 20px 20px 0 0;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 10px 50px 5px #00000005;
  border-radius: 20px;

}

.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.price-button{
  background-color: #FF5E3A;
  border: none;
  width: 80px;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
  padding: 3px;


}
.new-arrivals{
  margin-bottom: 100px;
}

.posters{
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 50px;

}
.poster-3>img{
  height: 530px;
}
.poster-1,.poster-2,.poster-3{

  position: relative;
}


.poster-content>h4{
  position: absolute;
  bottom: 10px;
  padding-left: 50px;
  width: 400px;
  font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
line-height: 30px;
color: white;

}


.poster-content-3
{
  position: absolute;
  bottom: 0px;
  padding-left: 50px;
  width: 400px;
  font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
line-height: 30px;
color: white;
height: 160px;
}

.discover-more{
  padding-top: 50px;
}

.categories{
  margin-bottom: 100px;
}

.categories-product-card{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 50px;
}

.bg-black {
  background-image:  linear-gradient(0deg, rgba(144, 144, 144, 0.25), rgba(144, 144, 144, 0.25)),
  linear-gradient(0deg, #F0F0F0, #F0F0F0);
  


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-radius: 20px 20px 0 0;
}


.product-card-arrivals {
  width: 380px;
  height: 429.1620788574219px;
  margin: 10px;
  margin-bottom: 20px;
}
.bg-black:hover{
  background-image:linear-gradient(180deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);



  

}

.price-button-black{
background-color: transparent;
  border: none;
  width: 80px;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: grey;
  padding: 3px;
}

footer
{
width: 100%;
background-color: #fcf3ec;
height: 500px;
}

.footer-container{
 padding: 150px 100px;
}

.footer-col-1{
  display: flex;
  flex-direction: column;
  align-items: start;

}

.social-media-logo{
  display: flex;
  align-items: center;
}

.social-media-logo>div{
  width: 30px;
  height:30px;
  background-color: rgb(255, 96, 69);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.copyright>p
{
  color: #ff5e3a;
  font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
